#form-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#add-book-form {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#add-book-form input,
#add-book-form select {
  background: #fff;
  padding: 0.815rem 1.06rem;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

#add-book-form input {
  flex-grow: 1;
}
